Django==1.8.4
pbr==1.10.0
pytz==2016.4
simplejson==3.8.2
six==1.10.0
stevedore==1.16.0
virtualenv==15.0.1
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
yahoo-finance==1.2.1
-r requirements/prod.txt
